@page "{DatabaseName}/{SchemaName}.{TableName}"
@model ImportModel
@{
    ViewBag._Title = $"Import into {Model.DatabaseName}/{Model.SchemaName}.{Model.TableName}";
}

<div class="container">

    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Form.DataFiles" class="form-label"></label>
            <input asp-for="Form.DataFiles" class="form-control" multiple autofocus>
        </div>
        <button>Import Data</button>
    </form>

</div>
