@page "{DatabaseName}/{SchemaName}.{TableName}"
@model SheetModel
@using System.Text.Json
@using Npgsql.Schema
@{
    ViewBag._Title = $"{Model.DatabaseName} / {Model.SchemaName}.{Model.TableName}";
}

<table class="table table-inline" data-table>
    <thead class="dark">
        <tr>
            @foreach (var column in Model.Columns)
            {
                <th data-name="@column.ColumnName">@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Records)
        {
            <tr data-record>
                @for (int i = 0; i < Model.Columns.Count; i++)
                {
                    NpgsqlDbColumn column = Model.Columns[i];
                    object? value = record[i];
                    <td data-type="@column.DataTypeName"><div data-content>@value</div></td>
                }
            </tr>
        }
    </tbody>
</table>