@page "{WorkspaceId}"
@model WorkspaceModel
@{
    ViewBag._Title = $"Workspace: {Model.WorkspaceId}";
}

<div asp-validation-summary="All" class="text-danger"></div>

TODO

@*<form method="post">
    <div class="mb-3">
        <label asp-for="Model.DatabaseName" class="form-label"></label>
        <input asp-for="Model.DatabaseName" class="form-control" autofocus>
    </div>
    <button>Create It</button>
</form>
*@