@using Microsoft.AspNetCore.Http.Extensions
@{
    string root = Url.Content("~/").TrimStart('/');
    string? title = ViewData["_Title"]?.ToString() ?? "Giant Team";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <partial name="_Importmap" />
    <link rel="stylesheet" href="~/css/blueprint-designer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav id="site-navbar" class="dark">
        <a href="~/" title="Home">🏡</a>
        @if (Context.Request.Path.HasValue)
        {
            <h1><a href="@this.Context.Request.GetEncodedPathAndQuery()">@title</a></h1>
        }
        @if (User.Identity?.IsAuthenticated == true)
        {
            <a asp-area="" asp-page="/Logout">Logout</a>
        }
        else
        {
            <a asp-area="" asp-page="/Login">Login</a>
            <a asp-area="" asp-page="/Join">Join</a>
        }
    </nav>

    <main id="site-main" class="light" role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer id="site-footer">
        <div class="container">
            &copy; 2022 - Giant Team - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>