@import url(./vars.css);

/* Badge */

[class|='badge'] {
    background-color: var(--gray);
    color: white;
    border-radius: 1em;
    display: inline-block;
    font-family: 'Franklin Gothic Condensed', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    padding: .1em .5em;
}

.badge-black {
    background-color: black;
}

.badge-blue {
    background-color: var(--blue);
}

.badge-gray {
    background-color: var(--gray);
}

.badge-green {
    background-color: var(--green);
}

.badge-red {
    background-color: var(--red);
}

.badge-orange {
    background-color: var(--orange);
}

/* Dropdown */

.dropdown .dropdown-anchor {
    z-index: 1;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 15px;
    transition: opacity 200ms, top 200ms;
}

.dropdown .dropdown-anchor>.dropdown-content {
    position: absolute;
}

.dropdown:hover .dropdown-anchor,
.dropdown .dropdown-button:focus+.dropdown-anchor {
    overflow: visible;
    opacity: 1;
    top: 0;
}

/* Iframe*/

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, .9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
}

/* Whens */

:not(.active, :focus)>.parent-active {
    display: none;
}

:is(.active, :focus)>.parent-inactive {
    display: none;
}