@import url(./vars.css);

/* Dropdown */

.dropdown-anchor {
    z-index: 1;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 15px;
    transition: opacity 200ms, top 200ms;
}

.dropdown-content {
    position: absolute;
}

.dropdown:hover .dropdown-anchor,
.dropdown .dropdown-button:focus+.dropdown-anchor {
    overflow: visible;
    opacity: 1;
    top: 0;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, .9);
    z-index: 10;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
}

/* Whens */

:not(.active, :focus)>.parent-active {
    display: none;
}

:is(.active, :focus)>.parent-inactive {
    display: none;
}