@import url(./vars.css);

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1;
    outline: none;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 12pt;
    line-height: 1;
}

body {
    margin: 0;
}

pre,
code {
    font-family: var(--font-family-mono);
}
