.site-nav {
    /* Get on top of Ace editor*/
    z-index: 5;
}

.site-nav>.site-nav-group>a,
.site-nav>.site-nav-group>.dropdown>.dropdown-button {
    display: inline-block;
    padding: .5rem 1rem;
}

.site-nav+main {
    padding: 1rem;
}

/* .iframe-panel */

html.js .iframe-panel {
    position: fixed;
}

html.js .iframe-panel {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    opacity: 1;
}

html.js .iframe-panel>.iframe-panel-container {
    border-top: 1px solid #ccc;
}


html.js .iframe-panel.minimized {
    top: auto;
    bottom: 0;
    opacity: 1;
}

html.js .iframe-panel.minimized>.iframe-panel-container {
    height: 0;
    transition: height linear 1s;
}

html.js .iframe-panel.closed {
    display: none;
    opacity: 0;
}

html.js .iframe-panel.alert {}

/* Framed */

html.framed .site-nav {
    display: none;
}