* {
    outline-color: rgba(0, 121, 208, 1);
}

dl {
    margin: 0 0 1em;
}

dl dt {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #ccc;
}

dl dd {
    margin: 0 0 .25rem;
    padding: .5rem 0;
    min-height: 1rem;
}

details {
    background: #fff;
    border: var(--border);
    border-radius: var(--b-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
    padding: .5rem;
}

details>summary {
    cursor: pointer;
}

details[open]>summary {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #ccc;
}

details :last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

p {
    margin-bottom: 1rem;
}

/* Input */

label {
    cursor: pointer;
}


/* Hide input up/down arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Hide input up/down arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
.input {
    border-style: solid;
    border-width: 1px;
    line-height: 1;
    padding: .25rem;
    text-align: inherit;
    width: 100%;
}

select {
    padding: .2rem .25rem .15rem;
}

select>option {
    padding: .25rem;
}

input+input {
    margin-left: -1px;
}

input:required,
input:invalid,
select:required,
select:invalid,
textarea:required,
textarea:invalid,
.required {
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNSIgd2lkdGg9IjUiPjxwb2x5Z29uIHBvaW50cz0iMCwwIDAsNSA1LDAiIHN0eWxlPSJmaWxsOnJlZCIgLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

input:required:hover,
select:required:hover,
textarea:required:hover,
.required:hover {
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.5);
}

input[readonly] {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

:required:focus,
.required:focus {
    background-image: none;
}

input[type=checkbox],
input[type=radio] {
    box-shadow: none;
    cursor: pointer;
    min-width: unset;
    width: unset;
}

input[type=date] {
    padding-top: 0;
    padding: .25rem .25rem .15rem;
}

input[type=file] {
    cursor: pointer;
}

fieldset {
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-sm);
    margin: 0 0 1rem 0;
    min-width: 0;
    padding: 0 .5rem .5rem;
}

fieldset legend {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: inherit;
    margin-bottom: .5rem;
    margin-left: -.4rem;
    padding: .1rem .4rem .2rem;
    white-space: normal;
    width: auto;
}

fieldset> :last-child,
fieldset> :last-child :last-child {
    margin-bottom: 0;
}

/* Table */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    text-align: right;
}

table.table-fixed {
    table-layout: fixed;
}

th {
    padding: .25rem .5rem;
    vertical-align: top;
}

th> :last-child {
    margin-bottom: 0;
}

td {
    padding: .25rem .5rem;
    vertical-align: top;
    border: 1px solid #ccc;
}

td> :last-child {
    margin-bottom: 0;
}

thead {
    text-align: center;
}

thead th {
    vertical-align: bottom;
}

tbody>tr:first-of-type td {
    border-top-color: var(--border-color);
}

tbody>tr:last-of-type td {
    border-bottom-color: var(--border-color);
}

tfoot th {
    text-align: right;
}

tfoot>tr:first-of-type th {
    border-top-color: var(--border-color);
}

tfoot>tr:last-of-type th {
    border-bottom-color: var(--border-color);
}

table.border th {
    border: 1px solid #ccc;
}

table.card th {
    border: 1px solid #ccc;
}

table.border-0 td {
    border-width: 0;
}