@page
@model GiantTeam.Asp.UI.Pages.JoinModel
@{
    ViewBag._Title = "Join";
}

<div asp-validation-summary="All"></div>

<form method="post" class="container w-md" data-autofocus="#@Html.IdFor(m => m.Form.Name)">
    <fieldset>
        <legend>Join</legend>
        @Html.EditorFor(m => m.Form, "Complex")
        <div class="field">
            <div></div>
            <div>
                <button>Join Now!</button>
                <a class="button" asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
            </div>
        </div>
    </fieldset>
</form>

<script type="module">
    const nameInput = document.getElementById("Form_Name");
    const usernameInput = document.getElementById("Form_Username");
    nameInput.addEventListener("blur", e => {
        const username = nameInput.value.replace(/[^A-Za-z0-9]+/gi, "");
        usernameInput.value = username;
    })
</script>