@page
@model GiantTeam.Asp.UI.Pages.LoginModel
@{
    ViewBag._Title = "Login";
    var autofocusId = Model.Form.Username is null ?
        Html.IdFor(m => m.Form.Username) :
        Html.IdFor(m => m.Form.Password);
}

<div class="container w-md">

    <div asp-validation-summary="All"></div>

    <form method="post" data-autofocus="#@autofocusId">
        <fieldset>
            <legend>Login</legend>
            @Html.EditorFor(m => m.Form, "Complex")
            <div class="field">
                <div></div>
                <div>
                    <button>Login</button>
                    <a class="button" asp-page="Join" asp-route-returnUrl="@Model.ReturnUrl">Join</a>
                </div>
            </div>
        </fieldset>
    </form>

</div>
