@page
@model GiantTeam.Asp.UI.Pages.LogoutModel
@{
    ViewBag._Title = "Logout";
}

<div asp-validation-summary="All" class="text-danger"></div>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>
        Logout of this website?
    </p>
    <form method="post">
        <button autofocus>Logout</button>
    </form>
}
else
{
    <p>You are logged out.</p>
}
