@page "{DatabaseName}/{SchemaName}.{TableName}"
@model ChartModel
@using System.Text.Json
@{
    ViewBag._Title = $"{Model.DatabaseName}/{Model.SchemaName}.{Model.TableName}";
    var jsonOptions = new JsonSerializerOptions(JsonSerializerDefaults.Web);
}

<div>
    <canvas id="chart" chart-data="@JsonSerializer.Serialize(Model.Data, jsonOptions)"></canvas>
</div>

<script type="module">
    import Chart from "chart.js/auto";

    const canvas = document.getElementById("chart");

    //const exampleData = {
    //    labels: labels,
    //    datasets: [{
    //        label: "My First dataset",
    //        backgroundColor: "rgb(255, 99, 132)",
    //        borderColor: "rgb(255, 99, 132)",
    //        data: [0, 10, 5, 2, 20, 30, 45],
    //    }]
    //};

    const data = JSON.parse(canvas.getAttribute("chart-data"));

    const config = {
        type: "line",
        data: data,
        options: {}
    };

    const myChart = new Chart(
        canvas,
        config
    );
</script>