:root {
    --font-size: 16px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark-bg: 188,100%,10%;
    --dark-text: 0,0%,90%;
    --dark-primary: 188,100%,42%;
    --light-bg: 0,0%,100%;
    --light-text: 0,0%,0%;
    --light-primary: 188,100%,42%;
}

* {
    font: var(--font-size) var(--font-family);
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 1rem;
}

.dark {
    color: hsl(var(--dark-text));
    background-color: hsl(var(--dark-bg));
}

    .dark a {
        color: hsl(var(--dark-primary));
    }

        .dark a:hover, .dark a:active, .dark a:focus {
            opacity: .9;
            text-decoration: none;
        }

    .dark button {
        cursor: pointer;
        color: hsl(var(--dark-bg));
        border: 2px solid hsl(var(--dark-primary));
        border-radius: 2px;
        background: hsla(var(--dark-primary),.9);
        padding: .25rem 1rem;
        box-shadow: hsla(var(--dark-primary),.5) 0 .05rem .1rem .1rem;
    }

        .dark button:hover, .dark button:focus {
            background: hsla(var(--dark-primary),.8);
            outline: none;
        }

        .dark button:active {
            box-shadow: hsla(0,0%,0%,.2) 0 .05rem .1rem inset;
        }

.light {
    color: hsl(var(--light-text));
    background-color: hsl(var(--light-bg));
}

    .light a {
        color: hsl(var(--light-primary));
    }

        .light a:hover, .light a:active, .light a:focus {
            opacity: .9;
            text-decoration: none;
        }

    .light button {
        cursor: pointer;
        color: hsl(var(--light-bg));
        border: 2px solid hsl(var(--light-primary));
        border-radius: 2px;
        background: hsla(var(--light-primary),.9);
        padding: .25rem 1rem;
        box-shadow: hsla(var(--light-primary),.5) 0 .05rem .1rem .1rem;
    }

        .light button:hover, .light button:focus {
            background: hsla(var(--light-primary),.8);
        }

        .light button:active {
            box-shadow: hsla(0,0%,0%,.2) 0 .05rem .1rem inset;
        }

.container {
}

body {
}

#site-navbar {
    display: flex;
}

    #site-navbar a {
        color: hsl(var(--dark-text));
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    #site-navbar h1 {
        margin: 0 auto;
        padding: 0;
    }

        #site-navbar h1 a {
            font-weight: bold;
        }

#site-main {
    box-shadow: hsla(0,0%,0%,.5) 0 .1rem .2rem;
    color: hsl(var(--light-text));
    padding: 1rem;
}

#site-footer {
    padding: 1rem;
}

/* Overrides */

#blueprint-designer {
    background: #eee;
    border: 1px solid;
    border-top-left-radius: 5px;
    width: 100%;
    height: 70vh;
    overflow: auto
}
