@page
@model WebApp.Pages.JoinModel
@{
    ViewBag._Title = "Join";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Model.DisplayName" class="form-label">Display Name</label>
        <input asp-for="Model.DisplayName" class="form-control" autofocus>
    </div>
    <div class="mb-3">
        <label asp-for="Model.Email" class="form-label"></label>
        <input asp-for="Model.Email" class="form-control" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label asp-for="Model.Username" class="form-label"></label>
        <input asp-for="Model.Username" class="form-control" placeholder="JaneDoe42">
    </div>
    <div class="mb-3">
        <label asp-for="Model.Password" class="form-label"></label>
        <input asp-for="Model.Password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Model.PasswordConfirmation" class="form-label">Password Confirmation</label>
        <input asp-for="Model.PasswordConfirmation" class="form-control">
    </div>
    <button class="btn btn-primary">Join Now!</button>
</form>
