@page
@model WebApp.Pages.ProfileModel
@{
    ViewBag._Title = "My Profile";
}

<div class="container w-md">

    <p>
        Welcome @User.Identity!.Name!
    </p>

    <form method="post" asp-page="Logout">
        <button>Logout</button>
    </form>

</div>
